<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8" />
		<title>{{.label}}</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/p/s/bootstrap-dark.min.css" />
		<link rel="stylesheet" href="/p/s/connectivity.css?v=4" />
		<link rel="shortcut icon" href="/p/i/favicon.ico" />
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">{{.label}}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="internal">
							<a href="/" title="Connectivity">Connectivity</a>
						</li>
						<li class="active internal">
							<a href="/request" title="Connectivity">HTTP Headers</a>
						</li>
						<li class="internal">
							<a href="/tools" title="Tools">Tools</a>
						</li>
					</ul>
					{{if .hosted_by_url }}
					<ul class="nav navbar-nav navbar-right">
						<li class="internal">
							<a href="{{.hosted_by_url}}" target="_blank" title="Hosted by ~zotan">{{ if .hosted_by_string }}{.hosted_by_string}}{{else}}{{.hosted_by_url}}{{end}}</a>
						</li>
					</ul>
					{{end}}
				</div>
			</div>
		</div>
		<div class="container">
			<br />
			<div class="row">
				<div class="col-lg-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Your HTTP request</h3>
					</div>
					<div class="panel-body">
						<pre class="border rounded bg-dark">{{.request}}</pre>
					</div>
				</div>
				</div>
			</div>
		</div>
		<script src="/p/j/jquery.min.js"></script>
		<script src="/p/j/bootstrap.min.js"></script>
	</body>
</html>
